# Relatório sobre os dados abertos de CNPJ da Receita Federal

## Carregar dados

In [1]:
from os import getcwd
from pathlib import Path

import dask.dataframe as dd
import numpy as np


DATA_DIR = Path(getcwd()).parent / "data" / "csv"

In [2]:
def load(dataset_type, columns):
    files = tuple(
        path
        for path in DATA_DIR.glob("*.csv")
        if dataset_type in path.name
    )
    df = dd.read_csv(
        files,
        delimiter=";",
        encoding="latin1",
        header=None,
        usecols=columns.keys(),
        dtype={key: str for key in columns.keys()},
    )
    df.columns = columns.values()
    return df

### Base do CNPJ

In [3]:
base = load("EMPRECSV", {0: "base"})
base.head()

       base
0  32066838
1  32066839
2  32066840
3  32066841
4  32066842

### Estabelecimentos

In [4]:
venues = load(
    "ESTABELE",
    {
        0: "base",
        1: "ordem",
        2: "digito_verificador",
        5: "situacao_cadastral",
        6: "data_situacao_cadastral",
        10: "data_de_inicio_da_atividade",
        28: "situacao_especial",
        29: "data_situacao_especial",
    },
)
venues.head()

,base,ordem,digito_verificador,situacao_cadastral,data_situacao_cadastral,data_de_inicio_da_atividade,situacao_especial,data_situacao_especial
0,13449976,0001,98,08,20180201,20110401,NaN,NaN
1,13449987,0001,78,08,20170629,20110401,NaN,NaN
2,48464523,0002,04,04,20190321,20110329,NaN,NaN
3,13450007,0001,57,02,20110401,20110401,NaN,NaN
4,01408480,0003,59,08,20180724,20110329,NaN,NaN

### Quadro societário

In [5]:
partners = load("SOCIOCSV", {0: "base", 5: "data_de_entrada"})
partners.head()

       base data_de_entrada
0  17385990        20130109
1  09295323        20120203
2  09295323        20120203
3  17386008        20121228
4  17386008        20121228

### Simples & MEI

In [6]:
taxes = load(
    "SIMPLES",
    {
        0: "base",
        2: "data_de_opcao_pelo_simples",
        3: "data_exclusao_do_simples",
        5: "data_de_opcao_pelo_mei",
        6: "data_exclusao_do_mei",
    }
)
taxes.head()

,base,data_de_opcao_pelo_simples,data_exclusao_do_simples,data_de_opcao_pelo_mei,data_exclusao_do_mei
0,00000000,20070701,20070701,20090701,20090701
1,00000006,20180101,20191231,00000000,00000000
2,00000008,20140101,00000000,00000000,00000000
3,00000011,20070701,00000000,00000000,00000000
4,00000013,20090101,00000000,00000000,00000000

## Todas as datas devem ser válidas e no passado

…

## Todo estabelecimento (`ESTABELE`) deve ter uma correlação nos dados da base do CNPJ (`EMPRECSV`)

…

## Todo CNPJ base deve ter ao menos 1 estabelecimento

…

## Toda entrada do quadro societário (`SOCIOCSV`) deve ter uma correlação nos dados da _base_ do CNPJ (`EMPRECSV`)

…

## Toda entrada de enquadramento no Simples ou MEI (`SIMPES`) deve ter uma correlação nos dados da base do CNPJ


…